{% extends 'base.html.twig' %}

{% block body %}
    {% if sectionsContainerArray is not empty %}
        <ul>
            {% for sectionList in sectionsContainerArray %}
                {% for section in sectionList %}
                    <li>
                        {{ section.name }}
                        {% if section.subSections is not empty %}
                            <ul>
                                {% for subSection in section.subSections %}
                                    <li>
                                        {{ subSection }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
