body {
    margin: 0;
    background-color: #F5F5F5;
    font: 18px sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}

.sub-section-list {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.section, .sub-section {
    list-style-type: none;
    cursor: default;
}

.section-title {
    padding: 10px 15px;
    font-size: 2rem;
}

.section-title:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.section-switch {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.section-switch::after {
    display: inline-block;
    content: '';
    margin-left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    align-self: center;
}

.expanded.section-switch::after {
    border-top: 0;
    border-bottom: 5px solid;
}

.placeholder {
    margin: 20px 30px;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .section-list {
        margin-top: 20px;
        width: 285px;
    }

    .sub-section-list {
        background-color: transparent;
    }

    .section-title {
        border-radius: 5px;
        font-size: 1rem;
    }

    .section-list, .sub-section-list {
        padding-left: 20px;
    }

    .placeholder {
        font-size: 1rem;
    }
}